* {
    /* outline: solid red 1px; */
    margin: 0;
    padding: 0;
}

/* Text Types */
body {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-size: 17px;
    text-align: left;
    line-height: 1.75;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color:#337ab7;
    transition: .3s ease;
}

a:hover, .sideNavLinks:hover {
    color:#16446b;
    cursor: pointer;
    transition: .3s ease;
}

li {
    list-style-type: none;
}

hr {
    max-width: 50%;
}

section {
    max-width: 61%;
    margin: 0 auto;
}

h1 {
    background: #e8eff5;
    background: -moz-linear-gradient(top, #e8eff5 0%, #dee7f0 100%);
    background: -webkit-linear-gradient(top, #e8eff5 0%,#dee7f0 100%);
    background: linear-gradient(to bottom, #e8eff5 0%,#dee7f0 100%);
    padding: .5em 0;
    color: #0E467A;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 45px;
    font-weight: normal;
    color: #272727;
    text-align: center;
}

h3 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 1.5em;
}

/* Navigation */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #31afe9;
}

.navbarHeader {
    flex: 100vw;
    font-size: 300%;
    font-weight: bold;
    padding: 10px;
    background: #094e74;
    color: white;
    text-align: center;
}

.navigationLinks {
    color: black;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .8em;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.navbarHeader:hover, .navigationLinks:hover {
    color: white;
    cursor: pointer;
}

.selected {
    color: white;
    font-weight: bold;
}

/* Main */
.toolInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.5em;
    margin-top: 4.5em;
}

/* Side Nav */
.sideContainer {
    grid-column: 1 / 2;
}

/* .sideNav {

} */

.sideNavLinks {
    font-size: 17px;
    color: #337ab7;
    padding: .3em;
}

.hidden {
    display: none;
}

/* Info */
.info {
    grid-column: 2 / 5;
    margin-bottom: 4em;
}

.indent {
    padding-left: 2em;
}

.hangingIndent {
    text-indent: -2em;
    padding-left: 2em;
    font-size: 17px;
    text-align: left;
    line-height: 1.75;
}

.link {
    text-decoration: none;
}

.center {
    text-align: center;
}

/* Download */
#downloadForm {
    max-width: 61%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
}

label {
    margin-top: 1.5em;
    grid-column: span 6;
}

.textBox {
    margin-top: .5em;
    padding: .5em;
    grid-column: span 3;
}

.full {
    grid-column: span 6;
}

.button {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: .5em;
    cursor: pointer;
    margin-top: 2em;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: black;
    transition: .3s;
}

#submitInfo {
    grid-column: 3 / 5;
}

.disabled {
    pointer-events: none;
    opacity: .2;
}